* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body , html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 100%;
    background-repeat: no-repeat;
    background: url(../assets/fondo.png) no-repeat center center fixed;
    background-size: 100% 100%  
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin-top: 10%;
    margin-left: 23%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
    
}

.contenedor .pokemon {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.05);
}

.contenedor .pokemon .titulo {
    color: rgb(255, 255, 255);
    margin-top: 15px;
    font-size: 22px;
    font-weight: 600;
}

.contenedor .pokemon .poster {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 20px;
    width: 200px;
    height: 150px;
}

.paginacion {
    position: fixed;
    top: 0;
    background-color:rgba(255, 255, 255, 0.05);
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.paginacion button {
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50px;
    width: 200px;
    background: rgba(255, 0, 0, 0.807);
    color: rgba(255, 255, 255);
    border-radius: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    transition: .3s ease all;
    font-size: 2rem;
}